<nav>
    <div class="flex flex-row items-center  justify-between px-20 py-10">
        <div class="flex flex-row items-center">
            <h1 class="font-bold italic text-2xl text-white mr-10">Payments</h1>
            <ul class="flex flex-row space-x-10">
                <li>
                    <a href="#" class="text-gray-400 text-sm tracking-wide font-light">
                        Pricing
                    </a>
                </li>
                <li>
                    <a href="#" class="text-gray-400 text-sm tracking-wide font-light">
                        Product
                    </a>
                </li>
                <li>
                    <a href="#" class="text-gray-400 text-sm tracking-wide font-light">
                        Team
                    </a>
                </li>
                <li>
                    <a href="#" class="text-gray-400 text-sm tracking-wide font-light">
                        Sales
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-row space-x-10 items-center">
            <a href="#" id="wallet" class="py-2 rounded-md shadow-xl drop-shadow-2xl">
                <lottie-player id="wallet-img" src="https://assets10.lottiefiles.com/packages/lf20_qc3pdcqf.json"  background="transparent"  speed="1"  style= "width: 50px; height: 50px;"  loop  autoplay></lottie-player>  Wallet 350 coins
            </a>
            <a href="#" class="text-gray-400 text-sm tracking-wide font-light">
                Sales
            </a>
            <button class="bg-[#272A30] text-gray-300 px-8 text-sm py-2 rounded-md shadow-xl drop-shadow-2xl">
                Sign in
            </button>
        </div>
    </div>
</nav>